@media (min-width: 992px) and (max-width: 1199.98px) {

    .hero-container {
        height: 50vh;
    }
    
    .video-container {
        height: 50vh;
    }

    .ProductOptions .optionTxt h4 {
        font-size: 32px;
        font-weight: 500;
    }

    .ProductOptions img {
        width: 100%;
        height: auto;
        top: 10%;
        right: 20%;
    }
    
}